html { 
	height: 100%; 
}

body {
    margin: 0 auto; /* nuima tarpus*/
    height: 90%; /*puslapio dydis*/
    background: url(julianui.png);
    background-size: cover;/*kad uzimtu pilna puslapio dydi*/
   }
    
.button {
	float: right;
	display: inline-block;
	padding: 15px 40px;
	
	font-size: 24px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 5px black;
}

.button:hover {
	background-color: #3e8e41
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.button5 {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button5 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button5 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button5:hover span {
	padding-right: 25px;
}

.button5:hover span:after {
	opacity: 1;
	right: 0;
}